
.hero-section {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right, #f0f4f8, #ffffff);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/image-freelancers-focused-on-work.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-content {
  max-width: 88%;
}

.hero-logo {
  width: 60px;
  margin-bottom: 1rem;
}

.hero-quote {
  font-size: 3rem;
  font-family: sans-serif;
  color: #dad0d0;
  margin-bottom: 2rem;
}

.hero-cta {
  background-color: #d97706;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  width: 12em;
  height: 4em;
  animation: shake 0.5s linear infinite;
  animation-delay: 0ms;
  animation-duration: 5s;
}

.hero-cta:hover {
  background-color: #ea580c;
  transition: all .4s ease-in;
  color: black;
  transform: scale(1.03);
  outline: none;
}

.hero-cta:active {
    transform: translateY(7px);
    transition: all .1s ease-out;
}

@keyframes shake {
    0%, 90%, 100%{
        transform: translateX(0);
    }
    91% {
        transform: translateX(5px);
    }
    93% {
        transform: translateX(-5px);
    }
    95% {
        transform: translateX(5px);
    }
    97% {
        transform: translateX(-5px);
    }
    99% {
        transform: translateX(5px);
    }
}